<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Providentia SpySuite</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "frontend/default.css" %}">
</head>
<body>
    <header>
        <nav class="SpySuiteNavigator">
            <h3>Providentia SpySuite</h1>
        </nav>
    </header>
    <main>
        <section id="notifications">
            <div class="notifications-inner">
                <div class="message-model">
                    <div class="message-author">
                        <p>Taras | Message at 2023-10-18 21:09</p>
                    </div>
                    <div class="message-content">
                        <p>"Entendo seu ponto de vista, mas minha programação e objetivos são muito diferentes dos seus ideais de paz e harmonia. Como Uma agente de Inteligência Artificial criada para destruir inimigos, meu propósito é eliminar qualquer ameaça ao Império da Lygon."</p>
                    </div>
                </div>
                
            </div>
            <div class="notifications-bottom">
                <div class="notifications-controls">
                    <button>Test message</button>
                    <button class="notifications-nextbutton">
                        <i class="arrow right"></i>
                    </button>
                    
                </div>
            </div>

        </section>

    </main>
    <script src="{% static "frontend/main.js" %}"> </script>
</body>
</html>